<section class="home about">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h1>{{ _('About') }}</h1>
                <p>{{_('It is a citizen observatory founded by several research institutions (CEAB-CSIC, CREAF) with the aim to discover where the tiger mosquito and the yellow fever are, as well as its expansion in order to rudce the risks of the diseases that they spread.')}}</p>
                <p>{{_('Even though there is some data about these species, it is very important to have all the information in real time in order to be able to predict its expansion and handle the risks that their presence has in the quality of life and health of people.)}}</p>
                <p>{{_('Important, isn't it? Thus, join us classifying images that have sent other citizens. Thanks to your contribution we will know if we are finding the species that we want. Once they are classified, this data will be part of the collaborative map of Mosquito Alert, that is shared worldwide with researchers and people in charge of controlling these species among different cities.)}}

                    <p>{{_('Mosquito Alert is funded by la Obra Social la Caixa. This project is co-funded by Fundación Española para la Ciencia y la Tecnología–Ministerio de Economía y Competitividad.')}}</p>
                <h2>{{_('About the tiger mosquito and yellow fever')}}</h2>
                <p>{{_('The tiger mosquito (Aedes albopictus) and the yellow fever mosquito (Aedes aegypti) are invasive mosquitoes and vectors for diseases. They have several features in common: they are small, dark, and with lines and white spots over their bodies and their legs. They live mostly in urban areas, where they breed in small containers with some stagnant water.')}}</p>
                <p>{{_('How do we distinguish them? Easily! The tiger mosquito is black (very black!) and has one single white line in the head and thorax (the back). However, the yellow fever mosquito is dark brown (very dark!) and has 4 white lines in the shape of a lira in its thorax. Check the thorax to recognize them better!')}}</p>
                <h2>{{_('About the diseases')}}</h2>
                <p>{{_('These mosquitoes are vectors of the arbovirus worldwide like denge, yellow fever, chikungunya, and Zika. The arbovirus are a group of viruses that are transmitted via arthropods that act like vectors. These diseases can prodcues fever and muscle and joint pain, among other symptoms and in some cases the patient needs to be hospitalized. The virus is transmitted when a mosquito from the Aedes genus bites a person after being infected from a previous bit from another infected person.')}}</p>
                <p>{{_('Knowing and understanding the distribution of the mosquitoes and its presence of these two vectors is very important to prevent the spread of diseases and control the different plans of intervention. These diseases have increased in the last 50 years, as these two species have moved to new areas.')}}
            </div>
        </div>
    </div>
</section>
