<section class="home about">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h1>{{ _('About') }}</h1>
                <p>{{_('Es un observatorio ciudadano creado por varios centros de investigación (CEAB-CSIC, CREAF) para conocer dónde se encuentra el mosquito tigre y el de la fiebre amarilla, controlar su expansión y reducir el riesgo de transmisión de las enfermedades que transmiten.')}} </p>
                <p>{{_('Aunque ya existen algunos datos sobre estas especies, es importante tener el máximo de información en tiempo real para poder predecir su expansión y gestionar a tiempo los riesgos que su presencia conlleva para la calidad de vida y la salud de las personas.')}}</p>
                <p>{{_('Es relevante, ¿verdad? Pues únete clasificando imágenes que ya han enviado otros ciudadanos. Así sabremos si son las especies que buscamos. Una vez clasificados, estos datos forman el mapa colaborativo Mosquito Alert, que se pone a disposición de todos, además de investigadores y de responsables del seguimiento y control de estas especies en varias ciudades.')}}</p>

                <p>{{_('Mosquito Alert está financiado por la Obra Social la Caixa. Este proyecto está co-financiado por la Fundación Española para la Ciencia y la Tecnología–Ministerio de Economía y Competitividad.')}}</p>
                <h2>{{_('Sobre el mosquito tigre y de la fiebre amarilla')}}</h2>
                <p>{{_('El mosquito tigre (Aedes albopictus) y el mosquito de la fiebre amarilla (Aedes aegypti) son mosquitos invasores y vectores de enfermedades. Tienen varios rasgos en común: son pequeños, oscuros y con rayas y manchas blancas en todo el cuerpo y en las patas. Viven principalmente en zonas urbanas, donde cría en recipientes pequeños con agua estancada.')}}</p>
                <p>{{_('¿Cómo se diferencian? Pues muy fácil: el mosquito tigre es negro (¡muy negro!) y tiene una sola línea blanca en la cabeza y el tórax (espalda). En cambio, el mosquito de la fiebre amarilla es marrón oscuro (¡muy oscuro!) y tiene 4 líneas blancas en forma de lira en el tórax. ¡Fíjate en su tórax (espalda) para reconocerlos mejor!')}}</p>
                <h2>{{_('Sobre las enfermedades')}}</h2>
                <p>{{_('Estos mosquitos son vectores de arbovirus a nivel global, como el dengue, la fiebre amarilla, el chikungunya y el Zika. Los arbovirus son un grupo de virus que se transmiten mediante artrópodos que actúan como vectores. Estas enfermedades pueden producir fiebre y dolores articulares y musculares, entre otros síntomas, y en algunas ocasiones se requiere hospitalizar a los pacientes. El virus se transmite cuando un mosquito del género Aedes pica a una persona después de infectarse al picar antes a otra persona infectada por el virus.')}}</p>
                <p>{{_('Conocer y entender la distribución geográfica y la presencia de estos dos vectores es muy importante para planear la prevención de enfermedades y el control de las diferentes intervenciones de gestión. Estas enfermedades han aumentado considerablemente en los últimos 50 años ya que estas dos especies de mosquito se han expandido por nuevas áreas geográficas.')}}</p>
            </div>
        </div>
    </div>
</section>
