section.home {
    margin-bottom: 40px;

    .app-badge {
        max-width: 135px;
        margin-bottom: 15px;
    }

    .ios {
        max-width: 123px;
    }

    @media(max-width(768px)) {
        .flexcentered {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
    .phonedemo {
        display: flex;
        flex-direction: column;
    }
}
section.home.featured {
}

section.home.projects {
    margin-top: 50px;
}


