section.home {
    margin-bottom: 40px;

    .app-badge {
        max-width: 135px;
    }

    .ios {
        max-width: 123px;
    }
}
section.home.featured {
    border-bottom: 1px solid $bright-grey;
}

section.home.projects {
    margin-top: 50px;
}


