<footer>
    <div class="container-fluid mosquitoalert">
        <div class="container">
                <div class="col-sm-3 col-xs-12">
                    <img src="{{url_for('static', filename='img/mosquitofooter/ceabPeuBlanc.png')}}">
                </div>
                <div class="col-sm-3 col-xs-12">
                    <img src="{{url_for('static', filename='img/mosquitofooter/creafPeuBlanc1.png')}}">
                </div>
                <div class="col-sm-3 col-xs-12">
                    <img src="{{url_for('static', filename='img/mosquitofooter/csicPeuBlanc.png')}}">
                </div>
                <div class="col-sm-3 col-xs-12">
                    <img src="{{url_for('static', filename='img/mosquitofooter/icreaPeuBlanc.png')}}">
                </div>
            </div>
    </div>
    <div class="container-fluid scifabric">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 col-md-offset-0 col-md-4 "> 
                    <p>Developed by</p>
                    <a href="https://scifabric.com/?utm_source=MosquitoAlert%20new%20server&utm_medium=server&utm_campaign=PYBOSSA%20new%20server"><img alt="Scifabric Logo" class="logo_horiz" src="{{ url_for('static', filename='img/scifabric.svg')}}"></a>
                </div>
                <div class="col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-2 col-lg-2">

                    <p><strong>{{ _('Resources') }}</strong></p>
                    <p><a href="http://docs.pybossa.com">{{ _('Docs') }}</a></p>
                    <p><a href="{{url_for('help.api')}}">API</a></p>
                    <p><a href="{{url_for('help.tos')}}">{{ _('Terms of Use') }}</a></p>
                    <p><a href="{{url_for('help.cookies_policy')}}">{{ _('Cookies Policy') }}</a></p>
                    <p><a href="{{url_for('help.privacy')}}">{{ _('Privacy Policy') }}</a></p>
                    <p><a href="{{url_for('stats.index')}}">{{ _('Stats') }}</a></p>

                </div>

                <div class="col-sm-4 col-md-2 col-lg-2">

                    <p><strong>{{_('Licenses')}}</strong></p>
                    <p><a href="{{url_for('help.license')}}">{{ _('Overview') }}</a></p>
                </div>

                <div class="col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-2 col-lg-2">
                    <p><strong>{{_('Social')}}</strong></p>
                    <p><a href="https://www.facebook.com/mosquitoalert/">Facebook</a></p>
                    <p><a href="https://twitter.com/Mosquito_Alert">Twitter</a></p>
                </div>
            </div>
        </div>
    </div> 
</footer>
<script>
function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
} 

function getBrowserLanguage() {
    // detect browser language (compatible with Chrome, Firefox, Safari and IE10+)
    var userLang = window.navigator.languages ? window.navigator.languages[0] : null;
        userLang = userLang || window.navigator.language || window.navigator.browserLanguage || window.navigator.userLanguage;
    if (userLang.indexOf('-') !== -1)
        userLang = userLang.split('-')[0];
    
    if (userLang.indexOf('_') !== -1)
        userLang = userLang.split('_')[0];
    // url parameter for lang?
    // set language
    var re = new RegExp("^es.*");
    if (re.test(userLang)) {
        userLocale = "es";
    } else if (userLang === "ca") {
        userLocale = "ca";
    } else {
        userLocale = "en";
    }

    console.log(userLocale);
    return userLocale;
}

document.addEventListener("DOMContentLoaded", function(event) { 
  //do work
        var lang = getCookie('language').toLowerCase() || getBrowserLanguage();
        if (lang != '') 
            {
                if (lang == 'es') { 
                    $("#languagelabel").text('Español');
                }
            else { $("#languagelabel").text('English');}
            $(".app-badge").hide();
            $(".app-badge." + lang).show();
            }
        else{



        $("#languagelabel").text('{{_('Language')}}');
        }

});

    function setLanguage(lang) {
        if (lang == 1) {
             document.cookie="language=es;path=/";
        }
        else {
             document.cookie="language=en;path=/";
        }
        location.reload();
    }
</script>
